body{
    padding: 0;
    margin: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background: url('https://i.pinimg.com/originals/48/8d/db/488ddb2c4bcd28b0791afd095bdb5541.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
#evil-button{
    position: absolute;
    white-space: nowrap;
    font-size: 2rem;
}